.mobile-nav{
    display: none;
}
.mobile-nav-open{
    display: none;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    font-size: 54px;
    color: var(--color-Almost-Black);
    text-decoration: none;
    font-weight: var(--weight-bold);
}

.nav-ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.nav-ul li a {
    font-size: var(--font-paragraph);
    color: var(--color-Medium-Gray);
    text-decoration: none;
    font-weight: var(--weight-medium);
}

.nav-ul li a:hover {
    color: var(--color-Almost-Black);
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-btn a {
    text-decoration: none;
    color: var(--color-Medium-Gray);
    font-weight: var(--weight-medium);
}

.nav-btn a:hover {
    color: var(--color-Almost-Black);
}

.nav-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
    gap: 10px;
    margin-top: 3px;
    border-radius: 10px;
}

#features:hover .nav-popup {
    display: flex;
}

#company:hover .nav-popup {
    display: flex;
}

/* .nav-popup-hidden{
    display: none;
} */
.nav-popup li {
    margin: 2px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-popup li a {
    font-size: 14px;
    font-weight: var(--weight-medium);
}

.btn {
    padding: 10px 20px;
    border: 2px solid var(--color-Medium-Gray);
    border-radius: 15px;
}